<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit User</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <form th:action="@{/edit}" method = "post" th:object="${LoginModel}" modelAttribute="LoginModel">
            <div> <label>Username: <input type="text" th:field="*{userName}"/> </label></div>
            <div> <label>Password: <input type="password" th:field="*{passWord}" /> </label></div>
            <div> <label>Repeat Password: <input type="password" th:field="*{passwordVerify}" /> </label> </div>
            <div> <label>Amount of free days: <input type="text" th:field="*{daysOff}" /> </label> </div>
            <div th:if="${#fields.hasErrors('*')}"><p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p></div>
            <div><input type="submit" value="Edit"/></div>
        </form>
    </body>
</html>
