<!DOCTYPE html>
<html>
    <head>
        <title>TaxModel Holiday Planner</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        <form action="#" th:action="@{/}" method="post">
            <input type="text" name="userName" th:field="*{userName}" placeholder="Gebruikersnaam" /> <br/>
            <input type="password" name="passWord" th:field="*{passWord}" placeholder="Wachtwoord" /> <br/>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>
