<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Request days off</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/request}" method="post">
            <div> <label>Reason: <input type="text" name="reason"/></label> </div>
            <div> <label>From: <input type="date" name="from"></label> </div>
            <div> <label>Till: <input type="date" name="till"></label> </div>
            <div> <input type="submit" value="Send"/> </div>
        </form>
    </body>
</html>
